<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164932601496-3vjlrr2peer5jh956s0eh26ct7rml226.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164932601496-3vjlrr2peer5jh956s0eh26ct7rml226</string>
	<key>API_KEY</key>
	<string>AIzaSyB6yaa5oTgjeQg-zyX6HEMYP_wS8h4JvSc</string>
	<key>GCM_SENDER_ID</key>
	<string>164932601496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patelhetansh.Recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-4c4d4</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-4c4d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164932601496:ios:6f008a3e3426c8aa8a72ed</string>
</dict>
</plist>